.nav-bar {
    position: sticky;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    padding: 0;  
    border: 1px solid black;
    border-radius: 10px;
}

.nav-bar ul li {
    margin: 15px;
    list-style-type: none;
    position: relative;
    padding: 5px;
    border-radius: 5px;
}

.nav-bar ul li a {
    color: black;
}

.nav-bar a:hover {
    color: #ddd;
}